.findMy {
    font-size: 3vw;
    overflow: hidden;
    font-weight: 200;
    font-style: italic;
}
.munchies {
    font: 2vw;
    overflow: hidden;
    font-weight: 300;
}
.slider .indicators .indicator-item.active {
    background-color: #f4511e;
}
h2 {
    font-family: Nunito;
}
 button {
    background-color: #f4511e;
 }